<section id="eight2" class="biggestNum">
  <div class="container calculator__content">
    <h2 class="biggestNum-title">Введіть 3 числа</h2>
    <form class="biggestNum-form">
      <input type="text" placeholder="Введіть число" class="biggestNum-input" />
      <input type="text" placeholder="Введіть число" class="biggestNum-input" />
      <input type="text" placeholder="Введіть число" class="biggestNum-input" />
    </form>
    <p class="biggestNum-paragraph">Найбільше число, яке ви ввели</p>
  </div>
</section>
