<section class="calculator">
  <div class="container">
    <h2 class="calculator__title">Калькулятор</h2>
    <form id="calculator-form" class="calculator__cont">
      <input
        required
        id="first-number"
        placeholder="Введіть число"
        type="number"
        class="calculator__number"
      />
      <div class="calculator__actions">
        <label id="plus" class="calculator__label">
          <input
            required
            type="radio"
            name="action"
            value="plus"
            class="calculator__input"
          />
          +
        </label>
        <label id="minus" class="calculator__label">
          <input
            required
            type="radio"
            name="action"
            value="multiply"
            class="calculator__input"
          />
          *
        </label>
        <label id="multiply" class="calculator__label">
          <input
            required
            type="radio"
            name="action"
            value="minus"
            class="calculator__input"
          />
          -
        </label>
        <label id="divide" class="calculator__label">
          <input
            required
            type="radio"
            name="action"
            value="divide"
            class="calculator__input"
          />
          /
        </label>
      </div>
      <input
        required
        id="second-number"
        placeholder="Введіть число"
        type="number"
        class="calculator__number"
      />
      <button type="submit" data-action="equal" class="calculator__action">
        =
      </button>
      <p id="result-text" class="calculator__result">Результат</p>
    </form>
    <hr class="calculator__line" />
  </div>
</section>
