<section class="calculator">
  <div class="container">
    <h2 class="calculator__title">Калькулятор</h2>
    <div class="calculator__cont">
      <input
        placeholder="Введіть число"
        type="number"
        class="calculator__number"
      />
      <div class="calculator__actions">
        <button data-action="plus" class="calculator__action">+</button>
        <button data-action="minus" class="calculator__action">*</button>
        <button data-action="multiply" class="calculator__action">-</button>
        <button data-action="divide" class="calculator__action">/</button>
      </div>
      <input
        placeholder="Введіть число"
        type="number"
        class="calculator__number"
      />
      <button data-action="equal" class="calculator__action">=</button>
      <input placeholder="Результат" type="number" class="calculator__result" />
    </div>
    <hr />
  </div>
</section>
