<div class="container">
<div class="main-title">
    <h1 class="main-main-title">Популярні інетрактивні ігри</h1>
</div>

<div class="check-birthday">
<h2 class="check-birthday-title">Перевір в який рік ти народився</h2>

<form>
    <input type="text" placeholder="Введіть рік народження">
    <button class="check-birthday-button">
        <img src="../img/icons.svg#search" alt="search" width= "15" height= "15" class="check-birthday-img">
    </button>
</form>
<p id="valid-text">Ви народилися у високосний рік!</p>
<p id="invalid-text">Ви народилися не у високосний рік!</p>
</div>
</div>