<section class="scientist">
  <div class="container">
    <div class="scientist__line"></div>
    <h2 class="scientist__title">Обери вченого/их</h2>
    <div class="scientist__cont">
      <ul class="scientist__people">
        <li class="scientist__person">
          <h3 class="scientist__name">Scientist</h3>
          <p class="scientist__years">born-dead</p>
        </li>
        <li class="scientist__person">
          <h3 class="scientist__name">Scientist</h3>
          <p class="scientist__years">born-dead</p>
        </li>
        <li class="scientist__person">
          <h3 class="scientist__name">Scientist</h3>
          <p class="scientist__years">born-dead</p>
        </li>
        <li class="scientist__person">
          <h3 class="scientist__name">Scientist</h3>
          <p class="scientist__years">born-dead</p>
        </li>
        <li class="scientist__person">
          <h3 class="scientist__name">Scientist</h3>
          <p class="scientist__years">born-dead</p>
        </li>
        <li class="scientist__person">
          <h3 class="scientist__name">Scientist</h3>
          <p class="scientist__years">born-dead</p>
        </li>
        <li class="scientist__person">
          <h3 class="scientist__name">Scientist</h3>
          <p class="scientist__years">born-dead</p>
        </li>
        <li class="scientist__person">
          <h3 class="scientist__name">Scientist</h3>
          <p class="scientist__years">born-dead</p>
        </li>
        <li class="scientist__person">
          <h3 class="scientist__name">Scientist</h3>
          <p class="scientist__years">born-dead</p>
        </li>
        <li class="scientist__person">
          <h3 class="scientist__name">Scientist</h3>
          <p class="scientist__years">born-dead</p>
        </li>
        <li class="scientist__person">
          <h3 class="scientist__name">Scientist</h3>
          <p class="scientist__years">born-dead</p>
        </li>
        <li class="scientist__person">
          <h3 class="scientist__name">Scientist</h3>
          <p class="scientist__years">born-dead</p>
        </li>
      </ul>
      <ul class="scientist__variants">
        <li class="scientist__variant">
          <button class="scientist__info">Які вчені народилися в 19 ст.</button>
        </li>
        <li class="scientist__variant">
          <button class="scientist__info">
            Знайти рік народження Albert Einshtein
          </button>
        </li>
        <li class="scientist__variant">
          <button class="scientist__info">
            Відсортувати вчених за алфавітом
          </button>
        </li>
        <li class="scientist__variant">
          <button class="scientist__info">
            Знайти вчених, прізвища яких починаються на на літеру “С”
          </button>
        </li>
        <li class="scientist__variant">
          <button class="scientist__info">
            Відсортувати вчених за кількістю прожитих років
          </button>
        </li>
        <li class="scientist__variant">
          <button class="scientist__info">
            Видалити всіх вчених, ім’я яких починається на “А”
          </button>
        </li>
        <li class="scientist__variant">
          <button class="scientist__info">
            Знайти вченого, який народився найпізніше
          </button>
        </li>
        <li class="scientist__variant">
          <button class="scientist__info">
            Знайти вченого, який прожив найдовше і вченого, який прожив найменше
          </button>
        </li>
        <li class="scientist__variant">
          <button class="scientist__info">
            Знайти вчених, в яких співпадають перші літери імені і прізвища
          </button>
        </li>
      </ul>
    </div>
  </div>
</section>
