<section id="ten2" class="scientist">
  <div class="container">
    <div class="scientist__line"></div>
    <div class="scientist__wrapper">
      <h2 class="scientist__title">Обери вченого/их</h2>
      <button id="cast-button" class="scientist__info">Скинути фільтри</button>
    </div>
    <div class="scientist__cont">
      <ul class="scientist__variants">
        <li class="scientist__variant">
          <button id="first-button" class="scientist__info">
            Які вчені народилися в 19 ст.
          </button>
        </li>
        <li class="scientist__variant">
          <button id="second-button" class="scientist__info">
            Знайти рік народження Albert Einshtein
          </button>
        </li>
        <li class="scientist__variant">
          <button id="third-button" class="scientist__info">
            Відсортувати вчених за алфавітом
          </button>
        </li>
        <li class="scientist__variant">
          <button id="forth-button" class="scientist__info">
            Знайти вчених, прізвища яких починаються на на літеру “С”
          </button>
        </li>
        <li class="scientist__variant">
          <button id="fifth-button" class="scientist__info">
            Відсортувати вчених за кількістю прожитих років
          </button>
        </li>
        <li class="scientist__variant">
          <button id="sixth-button" class="scientist__info">
            Видалити всіх вчених, ім’я яких починається на “А”
          </button>
        </li>
        <li class="scientist__variant">
          <button id="seventh-button" class="scientist__info">
            Знайти вченого, який народився найпізніше
          </button>
        </li>
        <li class="scientist__variant">
          <button id="eighth-button" class="scientist__info">
            Знайти вченого, який прожив найдовше і вченого, який прожив найменше
          </button>
        </li>
        <li class="scientist__variant">
          <button id="ninth-button" class="scientist__info">
            Знайти вчених, в яких співпадають перші літери імені і прізвища
          </button>
        </li>
      </ul>
    </div>
  </div>
</section>
