<section class="scientist">
  <div class="container">
    <hr />
    <h2 class="scientist__title">Обери вченого/их</h2>
    <ul class="scientist__people">
      <li class="scientist__person">
        <h3 class="scientist__name">Scientist</h3>
        <p class="scientist__years">born-dead</p>
      </li>
      <li class="scientist__person">
        <h3 class="scientist__name">Scientist</h3>
        <p class="scientist__years">born-dead</p>
      </li>
      <li class="scientist__person">
        <h3 class="scientist__name">Scientist</h3>
        <p class="scientist__years">born-dead</p>
      </li>
      <li class="scientist__person">
        <h3 class="scientist__name">Scientist</h3>
        <p class="scientist__years">born-dead</p>
      </li>
      <li class="scientist__person">
        <h3 class="scientist__name">Scientist</h3>
        <p class="scientist__years">born-dead</p>
      </li>
      <li class="scientist__person">
        <h3 class="scientist__name">Scientist</h3>
        <p class="scientist__years">born-dead</p>
      </li>
      <li class="scientist__person">
        <h3 class="scientist__name">Scientist</h3>
        <p class="scientist__years">born-dead</p>
      </li>
      <li class="scientist__person">
        <h3 class="scientist__name">Scientist</h3>
        <p class="scientist__years">born-dead</p>
      </li>
      <li class="scientist__person">
        <h3 class="scientist__name">Scientist</h3>
        <p class="scientist__years">born-dead</p>
      </li>
      <li class="scientist__person">
        <h3 class="scientist__name">Scientist</h3>
        <p class="scientist__years">born-dead</p>
      </li>
      <li class="scientist__person">
        <h3 class="scientist__name">Scientist</h3>
        <p class="scientist__years">born-dead</p>
      </li>
      <li class="scientist__person">
        <h3 class="scientist__name">Scientist</h3>
        <p class="scientist__years">born-dead</p>
      </li>
    </ul>
    <ul class="variants">
      <li class="scientist__variant">
        <p class="scientist__info">Які вчені народилися в 19 ст.</p>
      </li>
      <li class="scientist__variant">
        <p class="scientist__info">Знайти рік народження Albert Einshtein</p>
      </li>
      <li class="scientist__variant">
        <p class="scientist__info">Відсортувати вчених за алфавітом</p>
      </li>
      <li class="scientist__variant">
        <p class="scientist__info">
          Знайти вчених, прізвища яких починаються на на літеру “С”
        </p>
      </li>
      <li class="scientist__variant">
        <p class="scientist__info">
          Відсортувати вчених за кількістю прожитих років
        </p>
      </li>
      <li class="scientist__variant">
        <p class="scientist__info">
          Видалити всіх вчених, ім’я яких починається на “А”
        </p>
      </li>
      <li class="scientist__variant">
        <p class="scientist__info">Знайти вченого, який народився найпізніше</p>
      </li>
      <li class="scientist__variant">
        <p class="scientist__info">
          Знайти вченого, який прожив найдовше і вченого, який прожив найменше
        </p>
      </li>
      <li class="scientist__variant">
        <p class="scientist__info">
          Знайти вчених, в яких співпадають перші літери імені і прізвища
        </p>
      </li>
    </ul>
  </div>
</section>
