<footer class="footer">
  <div class="footer__container container">
    <a class="footer__logo" href="#">
      <svg class="footer__icon" width="93" height="38">
        <use href="../img/icons.svg#footer-logo"></use>
      </svg>
    </a>
    <ul class="footer__list">
      <li class="footer__item">
        <a href="" class="footer__link">Тел: +38 (123) 456 78 90</a>
      </li>
      <li class="footer__item">
        <a href="" class="footer__link">E-Mail: codingmagic@gmail.com</a>
      </li>
      <li class="footer__item">
        <a href="" class="footer__link">Facebook: CodingMagic</a>
      </li>
      <li class="footer__item">
        <a href="" class="footer__link">Twitter: CodingMagic</a>
      </li>
      <li class="footer__item">
        <a href="" class="footer__link">Instagram: CodingMagic</a>
      </li>
    </ul>
    <form action="" class="footer__registration">
      <input type="email" placeholder="Ваша ел. адреса..." class="footer__registration-email" />
      <button type="button" class="footer__btn" data-thanks-open>Підписатись</button>
      <p class="footer__information">*Підписавшись, Ви зможете ортимувати інформацію про новинки на сайті</p>
    </form>
  </div>
</footer>
