<div id="seven2" class="container">
  <div class="football-container">
  <h2 class="football-title">Футбол</h2>
  <div class="football-field">
    <div class="game-field" id="game-field">
      <div class="ball" id="ball">
        <img src="../img/football@1x-desctop.webp" alt="ball" />
      </div>
      <div class="gates" id="gates">
        <img src="../img/football-gates.png" alt="" />
      </div>
      <div id="scoreboard">Рахунок: 0</div>
      <p class="football-result" id="football-result">Забий гол</p>
    </div>
  </div>
</div>


</div>




