<div class="container">
    <h2 class="dino-title">Google динозавр</h2>
    <div class="game-platfor-dino">
    <div class="game-container">
        <ul class="dino-game-list">
            <li class="dino-dino"><div class="dino">
            <img src="../img/dino.webp" alt="arrow-right">
        </div></li>
            <li class="dino-cactus"> <div class="cactus"></div></li>
            <li class="dino-cloud"><div class="cloud"></div></li>
        </ul>
        
       
        
    </div>
</div>
</div>