<section id="six2" class="Google-dino">
  <div class="container">
    <h2 class="dino-title">Google динозавр</h2>
    <div class="game-platfor-dino">
      <div class="game-container">
        <div class="dino-box">
          <img src="../img/dino-dino.png" alt="Dino" class="dino" />
        </div>
        <img src="../img/cactus-dino.png" alt="Cactus" class="cactus" />
        <div class="dino-lose">
          <h2 class="lose-text">Ти програв!</h2>
          <button class="dino-button">Restart</button>
        </div>
      </div>
      <p class="help">Натискай ЛКМ щоб динозавр пригнув</p>
    </div>
  </div>
</section>
