<div id="two2" class="container guess-number">
  <h3 class="guess-number__title">Вгадай число, яке загадав комп’ютер</h3>
  <div class="guess-number__wrap">
    <form class="guess-number__number">
      <input
        type="number"
        placeholder="Введіть число"
        class="guess-number__number-input"
      />
      <span class="guess-number__change">
        <button type="submit" class="guess-number__btn-guess">
          <svg class="guess-number__search" width="15" height="15">
            <use href="../img/icons.svg#icon-search"></use>
          </svg>
        </button>
      </span>
    </form>
    <p class="guess-number__message">Ви програли, комп’ютер загадав (number)</p>
  </div>
  <div class="guess-number__line"></div>
</div>
