<header class="header">
  <div class="container">
    <div class="header__cont">
      <div class="header__left">
        <a class="header__logo" href="#">
          <svg class="header__icon" width="93" height="38">
            <use href="../img/icons.svg#header-logo"></use>
          </svg>
        </a>
        <nav class="header__nav">
          <ul class="header__list">
            <li class="header__item">
              <button id="header-btn" type="button" class="header__btn">
                Інтерактив
                <svg class="header__arrow" width="11" height="6">
                  <use href="../img/icons.svg#arrow-down"></use>
                </svg>
              </button>
              <div class="header__overlay is-hidden">
                <ul class="header__variants">
                  <li class="header__variant">
                    <button id="first-variant" class="header__choice">
                      Без фільтрів
                    </button>
                  </li>
                  <li class="header__variant">
                    <button id="second-variant" class="header__choice">
                      Числовий
                    </button>
                  </li>
                  <li class="header__variant">
                    <button id="third-variant" class="header__choice">
                      Ігровий
                    </button>
                  </li>
                  <li class="header__variant">
                    <button id="forth-variant" class="header__choice">
                      Ознайомчий
                    </button>
                  </li>
                </ul>
              </div>
            </li>
            <li class="header__item">
              <a href="" class="header__link">Наша команда</a>
            </li>
            <li class="header__item">
              <a href="" class="header__link">Контакти </a>
            </li>
          </ul>
        </nav>
      </div>
      <div class="header__right">
        <button class="header__switch standby">
          <div class="header__checked">
            <picture>
              <source
                srcset="
                  ../img/sun@1x-desctop.webp 1x,
                  ../img/sun@1x-desctop.webp 2x
                "
              />
              <img class="header__sun" src="../img/sun@1x-desctop.webp" />
            </picture>
          </div>
        </button>
        <p class="header__text">Вітаємо, User!</p>
      </div>
    </div>
  </div>
</header>
