<section class="rps">
  <div class="container">
    <h2 class="rps-title">Камінь - ножиці - папір</h2>
    <ul class="rps-ul"> 
      <li class="rps-element">
        <img class="rps-image" src="../img/stone@1x-desctop.webp" alt="rock">
      </li>
      <li class="rps-element">
        <img class="rps-image" src="../img/paper@1x-desctop.webp" alt="scissors">
      </li>
      <li class="rps-element">
        <img class="rps-image" src="..//img/paper@1x-desctop.webp" alt="paper">
      </li>
    </ul>
    <p class="rps-text">Почніть гру</p>
    <button class="rps-button" type="button">Дізнатись вибір комп’ютера</button>
    <div class="rps-paragraph">
      <p class="rps-result">Рахунок:</p>
      <p class="rps-result">
        Комп’ютер - <span class="rps-pc">0</span>
      </p>
      <p class="rps-result">
        Ви - <span class="rps-user">0</span>
      </p>
    </div>

  </div>
</section>
