<section class="rps">
  <div class="container">
    <h2 class="rps-title">Камінь - ножиці - папір</h2>
  <ul class="rps__list">
    <li class="rps__item">

      <button class="rps__button">
        <picture>
          <source
            srcset="
              ./img/stone@1x-desctop.webp 1x,
              ./img/stone@2x-desctop 2x
            "
          />
          <img
            class="rps__img"
            width="40"
            height="40"
            src="./img/stone@1x-desctop.webp 1x"
            alt="Камінь"
          />
        </picture>
      </button>
    </li>
    <li class="rps__item">
      <button class="rps__button">
        <picture>
          <source
            srcset="
              ./img/scissors@1x-desctop.webp  1x,
              ./img/scissors@2x-desctop.webp  2x
            "
          />
          <img
            class="rps__img"
            width="40"
            height="40"
            src="./img/scissors@1x-desctop.webp  1x"
            alt="Камінь"
          />
        </picture>
      </button>

    </li>
    <li class="rps__item">
      <button class="rps__button">
        <picture>
          <source
            srcset="
              ./img/paper@1x-desctop.webp  1x,
              ./img/paper@x-desctop.webp  2x
            "
          />
          <img
            class="rps__img"
            width="40"
            height="40"
            src="./img/paper@1x-desctop.webp  1x"
            alt="Камінь"
          />
        </picture>
      </button>
    </li>
  </ul>
  <p class="rps-text">Почніть гру</p>
  <button class="rps-ComputerC" type="button">Дізнатись вибір комп’ютера</button>

    <div class="rps-div">
      <p class="rps-result">Рахунок:</p>
      <p class="rps-result">
        Комп’ютер - <span class="rps-pc">0</span>
      </p>
      <p class="rps-result">
        Ви - <span class="rps-user">0</span>
      </p>
      <p class="rps-result">
        Нічия - <span class="rps-draw">0</span>
      </p>
    </div>

  </div>
</section>
<section class="rps">
  <div class="container">
    <h2 class="rps-title">Камінь - ножиці - папір</h2>
  <ul class="rps__list">
    <li class="rps__item">
      <button class="rps__button">
        <picture>
          <source
            srcset="
              ./img/stone@1x-desctop.webp 1x,
              ./img/stone@2x-desctop 2x
            "
          />
          <img
            class="rps__img"
            width="40"
            height="40"
            src="./img/stone@1x-desctop.webp 1x"
            alt="Камінь"
          />
        </picture>
      </button>
    </li>
    <li class="rps__item">
      <button class="rps__button">
        <picture>
          <source
            srcset="
              ./img/scissors@1x-desctop.webp  1x,
              ./img/scissors@2x-desctop.webp  2x
            "
          />
          <img
            class="rps__img"
            width="40"
            height="40"
            src="./img/scissors@1x-desctop.webp  1x"
            alt="Камінь"
          />
        </picture>
      </button>

    </li>
    <li class="rps__item">
      <button class="rps__button">
        <picture>
          <source
            srcset="
              ./img/paper@1x-desctop.webp  1x,
              ./img/paper@x-desctop.webp  2x
            "
          />
          <img
            class="rps__img"
            width="40"
            height="40"
            src="./img/paper@1x-desctop.webp  1x"
            alt="Камінь"
          />
        </picture>
      </button>
      <button class="rps__button">
        <picture>
          <source
            srcset="
              ./img/fire.png  1x,
              ./img/fire.png  2x
            "
          />
          <img
            class="rps__img"
            width="40"
            height="40"
            src="./img/fire.png  1x"
            alt="Камінь"
          />
        </picture>
      </button>
    </li>
    <li class="rps__item">
      <button class="rps__button">
        <picture>
          <source
            srcset="
              ./img/water.png  1x,
              ./img/water.png  2x
            "
          />
          <img
            class="rps__img"
            width="40"
            height="40"
            src="./img/water.png  1x"
            alt="Камінь"
          />
        </picture>
      </button>

    </li>
    <li class="rps__item">
      <button class="rps__button">
        <picture>
          <source
            srcset="
              ./img/air.png  1x,
              ./img/air.png  2x
            "
          />
          <img
            class="rps__img"
            width="40"
            height="40"
            src="./img/air.png  1x"
            alt="Камінь"
          />
        </picture>
      </button>
    </li>
  </ul>
  <p class="rps-text">Почніть гру</p>
  <button class="rps-ComputerC" type="button">Дізнатись вибір комп’ютера</button>

    <div class="rps-div">
      <p class="rps-result">Рахунок:</p>
      <p class="rps-result">
        Комп’ютер - <span class="rps-pc">0</span>
      </p>
      <p class="rps-result">
        Ви - <span class="rps-user">0</span>
      </p>
      <p class="rps-result">
        Нічия - <span class="rps-draw">0</span>
      </p>
    </div>

  </div>

</section>
