<section class="rps-game-section">
    <h2>Камінь - ножиці - папір</h2>

    <p class="rps-result">Ви виграли раунд!</p>
    <button class="rps-btn">Варіант комп'ютера</button>
    <div class="rps-score">
      <p>Рахунок:</p>
      <p>Комп'ютер - </p>
      <p>Ви - </p>
    </div>
  </section>

  <section class="rps-game-section">
    <div class="container">
      <h2>Камінь - ножиці - папір</h2>
      <ul>
        <li class="rps-list"></li>
        <li class="rps-list"></li>
        <li class="rps-list"></li>
      </ul>
      <p class="rps-start">Почніть гру</p>
      <button class="rps-btn" type="button">Варіант комп’ютера</button>
      <div class="rps-score">
        <p class="rps-allScore">Рахунок:</p>
        <p class="rps-allScore">
          Комп’ютер - <span class="rps-computerScore">0</span>
        </p>
        <p class="rps-allScore">
          Ви - <span class="rps-yourScore">0</span>
        </p>
      </div>

  </section>
  