

  <section class="calculator-time">
    <div class="container">
      <h2 class="calculator-time-title">Калькулятор часу</h2>
      <div class="calculator-time-controls">
        <input type="number" placeholder="Введіть число" class="calculator-time-input"/>
        <span >
          <svg class="calculator-time-icon" width="20px" height="15px">
            <use href="../img/icons.svg#search"></use>
          </svg>
        </span>
        <p class="calculator-time-playerTime">3 дн. 15:45</p>
      </div>
  </section>
  