
  <section class="time-calculator">
    <div class="container">
      <h2 class="time-calculator-title">Калькулятор часу</h2>
      <div class="time-calculator-div">
        <input type="number" placeholder="Кількість секунд" class="time-calculator-input"/>
        <button class="time-calculator-button" type="button">
          <svg class="calculator-time-svg" width="20px" height="15px">
            <use href="../img/icons.svg#search"></use>
          </svg>
        </button>
        <div class="time-calculator-dot"></div>
        <p class="time-calculator-timet">0 дн. 0год. 0хв. 0сек.</p>
      </div>
      <div class="time-calculator-line"></div>
    </div>
  </section>