<section class="time-calculator-calculator">
  <h2 class="time-calculator-title">Калькулятор часу</h2>
  <div class="time-calculator-div">
    <form class="time-calculator-form">
      <input type="text" class="time-calculator-input" placeholder="Ведіть число" />
      <button type="submit" class="time-calculator-button">

        <svg width="15" height="15" class="time-calculator-icons">
          <use href="../img/icons.svg#icon-search"></use>
        </svg>
      </button>
    </form>

    <div class="time-calculator-dot"></div>
    <p class="time-calculator-time">0 дн. 00:00:00</p>
  </div>

</div>
<div class="time-calculator-line"></div>
</div>
</section>
