/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
@import url('./reset.css');
@import url('./vite-promo.css');
@import url('./header.css');
@import url('./check-birthday.css');
@import url('./guess-numder.css');
@import url('./rps.css');
@import url('./calculator.css');
@import url('./time-calculator.css');
@import url('./google-dino.css');
@import url('./football.css');
@import url('./biggest-number.css');
@import url('./team.css');
@import url('./choose-scientist.css');
@import url('./footer.css');
:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #242424;
  background-color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
