.calculator-time {
    text-align: center;
    padding: 20px;
    font-family: Arial, sans-serif;
  }
  
  .calculator-time h1 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .calculator-time-controls {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }
  
  .calculator-time-input {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: lightgray;
  }
  
  .calculator-time-btn {
    background-color: black;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .calculator-time-btn img {
    width: 20px;
    height: 20px;
  }
  
  .calculator-time-result {
    font-size: 18px;
    margin-left: 20px;
  }
 
  