.main-title {
    padding-top: 0px;
    font-size: 15px;
    line-height: 1;
    text-align: center;

    @media screen and (min-width: 1090px) {
        color: #000;
        font-family: Montserrat Alternates;
        font-size: 24px;
        font-weight: 400;
        text-align: center;
        padding-top: 30px;

    }
}

.check-birthday-title {
    text-align: center;
    color: #000;
    font-family: Montserrat Alternates;
    font-size: 16px;
    font-weight: 400;
}

.check-birthday-button {
margin-top: 1px;
    margin-right: 250px;
    padding: 15px;
    height: 39px;
    background-color: #000;
    width: 25px;
    height: 20px;
    border-radius: 15px 20px 20px 15px;

    @media screen and (min-width: 1090px) {

        margin-left: -20px;
        margin-top: -1px;
        padding: 13px;
        height: 36px;
        background-color: #000;
        width: 40px;
        border-radius: 0px 20px 20px 0px;
    }
}

.form {
    display: flex;
    justify-content: center;
    padding-left: 60px;
padding-bottom: 30px;
    @media screen and (min-width: 1090px) {
        padding-left: 0;
        margin-right: 400px;
    }
}

.check-birthday-input {
    width: 210px;
    height: 35px;
    padding: 10px;
    display: inline-flex;
    padding: 10px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 20px;
    background: #D7D7D7;
    border: none;
    margin-left: 200px;
    @media screen and (min-width: 1090px) {
        width: 210px;
        height: 35px;
        display: inline-flex;
        padding: 10px 20px 10px 10px;
        align-items: flex-start;
        gap: 10px;
        border-radius: 20px;
        background: #D7D7D7;
        border: none;
        

    }
}

.check-birthday {
    max-height: 163px;
}

.check-birthday-img {
    width: 25px;
    height: 25px;
    fill: white;
}

.check-birthday-result {

    @media screen and (min-width: 1090px) {
        // text-align: right;
        // font-family: Montserrat Alternates;
        // font-size: 12px;
        // position: absolute;
        // bottom: 610px;
    }
}

.result {
position: absolute;
right: 80px;
bottom: 475px;
    font-family: Montserrat Alternates;
    font-size: 11px;
    font-weight: 400;
  
@media screen and (min-width: 440px){
    position: absolute;
right: 120px;
bottom: 475px;
}
@media screen and (min-width: 579px){
    position: absolute;
right: 185px;
bottom: 475px;
}
@media screen and (min-width: 713px){
    position: absolute;
right: 255px;
   bottom: 475px;
}

@media screen and (min-width: 855px){
    position: absolute;
right: 335px;
   bottom: 475px;
}

    @media screen and (min-width: 1090px) {
  text-align: right;
    font-family: Montserrat Alternates;
    font-size: 12px;
    // position: absolute;
    // bottom: 465px;
    // right: 250px;
//  padding-right: 0px;
//  margin-bottom: 0px;
     }
  
}