.main-title{
    color: #000;
    font-family: Montserrat Alternates;
    font-size: 24px;
    font-weight: 400;
    text-align: center;
}
.check-birthday-title{
    text-align: center;
    color: #000;
font-family: Montserrat Alternates;
font-size: 16px;
font-weight: 400;
}
#valid-text{
    color: #039900;
    text-align: right;
    font-family: Montserrat Alternates;
    font-size: 12px;
    font-weight: 400;
   
}
#invalid-text{
    color: #900;
text-align: right;
font-family: Montserrat Alternates;
font-size: 12px;
font-weight: 400;
}
.check-birthday-button{    
margin-left: -40px;
padding: 13px;
height: 39px;
background-color: #000;
width: 35px;
border-radius: 0px 20px 20px 0px;
}
.check-birthday-input{
    display: inline-flex;
padding: 10px 45px 10px 10px;
align-items: flex-start;
gap: 10px;
    border-radius: 20px;
background: #D7D7D7;
border: none;
margin-left: 200px;
}

.check-birthday{
    max-height: 163px;
}

.check-birthday-img{
    width: 25px;
    height: 25px;
    fill: white;
}

.check-birthday-result{
    display: flex;
}
.result{
  
text-align: right;
font-family: Montserrat Alternates;
font-size: 12px;
font-weight: 400;
}