.scientist {

    &__content {
        background-color: #fff;
    }

    &__line {
        width: 236px;
        margin: 0 auto 32px;
        height: 1px;
        background-color: #000;

        @media screen and (min-width: 768px) {
            width: 536px;
            margin-bottom: 36px;
        }


    }

    &__wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 18px;
        margin-bottom: 36px;

        @media screen and (min-width: 768px) {
            flex-direction: row;
            gap: 180px;
        }

        @media screen and (min-width: 1090px) {
            gap: 250px;
        }
    }

    &__title {
        color: #000;
        font-family: "Montserrat Alternates";
        font-size: 16px;
        font-weight: 400;
        text-align: center;
        margin: 0;
    }

    &__btn {
        color: #FFF;
        font-family: "Montserrat Alternates";
        font-size: 12px;
        font-weight: 400;
        border-radius: 20px;
        background: #000;
        box-shadow: 3px 3px 0px 0px rgba(0, 0, 0, 0.25);
        padding: 10px 20px;
        border: none;
        width: 100%;

        @media screen and (min-width: 768px) {
            width: auto;
            flex-direction: row;
            gap: 250px;
        }

        @media screen and (min-width: 1090px) {}
    }

    &__cont {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__people {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 20px 36px;
        width: 100%;
        margin-bottom: 36px;

        @media screen and (min-width: 768px) {
            gap: 26px 38px;
            width: 514px;
        }


        @media screen and (min-width: 1090px) {
            width: 577px;
            gap: 36px 59px;
        }
    }

    &__person {
        width: 116px;
        height: 116px;
        border-radius: 20px;
        background: #D9D9D9;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        @media screen and (min-width: 768px) {
            width: 100px;
            height: 100px;
        }
    }

    &__deleted &__name,
    &__deleted &__years {
        display: none;
    }

    &__name,
    &__years {
        color: #000;
        font-family: "Montserrat Alternates";
        font-size: 9px;
        font-weight: 400;
        line-height: 1.7;

        @media screen and (min-width: 768px) {
            font-size: 8px;
        }
    }

    &__variants {
        display: flex;
        flex-wrap: wrap;
        gap: 20px 36px;
        justify-content: center;
        padding-bottom: 36px;

        @media screen and (min-width: 768px) {
            max-width: 400px;
        }

        @media screen and (min-width: 1090px) {
            max-width: 100%;
        }
    }

    &__variant {
        width: 100%;


        @media screen and (min-width: 1090px) {
            width: 489px;
        }
    }

    &__info {
        color: #FFF;
        font-family: "Montserrat Alternates";
        font-size: 12px;
        font-weight: 400;
        border-radius: 20px;
        background: #000;
        box-shadow: 3px 3px 0px 0px rgba(0, 0, 0, 0.25);
        padding: 10px 20px;
        border: none;

        width: 100%;

        @media screen and (min-width: 768px) {
            max-width: 400px;
        }

        @media screen and (min-width: 1090px) {
            width: auto;
            max-width: 100%;
        }
    }

    &__checked {
        background-color: #D9D9D9;
        color: #000;
    }

    &__variant:first-child,
    &__variant:nth-child(3),
    &__variant:nth-child(5),
    &__variant:nth-child(7) {

        @media screen and (min-width: 1090px) {
            display: flex;
            justify-content: end;
            height: 35px;
        }

    }

    &__variant:nth-child(8) &__info {

        @media screen and (min-width: 1090px) {
            width: 368px;
            text-align: left;
        }
    }
}