.container {
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;

    @media screen and (min-width: 360px) {
        width: 360px;
    }

    @media screen and (min-width: 768px) {
        width: 768px;
    }

    @media screen and (min-width: 1090px) {
        width: 1090px;
    }
}