.football-title{
    color: #000;
font-family: Montserrat Alternates;
font-size: 16px;
font-weight: 400;
text-align: center;
}

.game-field{
    width: 600px;
height: 220px;
border-radius: 37px;
border: 2px solid #000;
background: #5ABB58;
position: relative;
}

.football-field{
    display: flex;
    justify-content: center;
}

.ball{
position: absolute;
z-index: 2;
}
.football-img{
    position: absolute;
    top: 1310px;
    right: 645px;
    width: 230px;
    height: 620px;
    z-index: 1;
}

.gates{
    position: absolute;
width: 150px;
top: 40px;
right: -15px;
transform: rotate(90deg); 
}
