.dino-title{
  color: #000;
font-family: Montserrat Alternates;
font-size: 16px;
font-weight: 400;
text-align: center;
}

.game-platfor-dino{
display: flex;
justify-content: center;
}

.game-container {
  position: relative;
  width: 720px;
  height: 241px;
  background-color: #fff;
  border: 1px solid #616161;
  
}

.dino {

  width: 100px;
  height: 400px;

}

.dino-cactus{
position: absolute;
top: 113px;
right: 0px;
position: absolute;
top: 0px;
}
.cactus {

  width: 90px;
  height: 40px;

}
.cloud{

width: 20px;
height: 40px;
background-color: rgb(125, 133, 125);
}

.dino-dino{
padding-top: 170px;
}