.time-calculator{
  padding-bottom: 36px;
  &-title {
    color: #000;
    font-size: 16px;
    font-style: normal;
    line-height: normal;
    text-align: center;
    font-weight: 400;
}


  &-form {
      position: relative;
  }

  &-div{
      display: flex;
      margin: 36px auto;
      width: 466px;
  }


  &-dot {
      border: 1px dashed;
      height: 0px;
      width: 100px;
      margin-top: 18px;
      margin-left: 33px;
  }

  &-input {
      border-radius: 20px;
      background: #d7d7d7;
      display: inline-flex;
      padding: 10px 43px 10px 10px;
      align-items: flex-start;
      gap: 10px;
      position: relative;
      border: none;
      width: 150px;
      color: #000;
      font-size: 12px;
      font-weight: 400;
      box-shadow: 3px 3px 0px 0px rgba(0, 0, 0, 0.25);

      &::placeholder {
          color: #7e7e7e;
          font-size: 12px;
          font-weight: 400;
      }

  }

  &-button {
      background-color: #000;
      border-radius: 0px 20px 20px 0px;
      height: 100%;
      width: 35px;
      position: absolute;
      top: 0px;
      right: 0;
  }

  &-icons {
      fill: #FFF;
      text-align: center;

  }

  &-time {
      color: #000;
      font-size: 12px;
      line-height: normal;
      margin-top: 10px;
      margin-left: 33px;
  }

  &-line {
    width: 536px;
    margin: 36px auto 0;
    border: 1px solid #000;
}

}