.main-title{
    color: #000;
    font-family: Montserrat Alternates;
    font-size: 24px;
    font-weight: 400;
}
.check-birthday-title{
    color: #000;
font-family: Montserrat Alternates;
font-size: 16px;
font-weight: 400;
}
#valid-text{
    color: #039900;
    text-align: right;
    font-family: Montserrat Alternates;
    font-size: 12px;
    font-weight: 400;
}
#invalid-text{
    color: #900;
text-align: right;
font-family: Montserrat Alternates;
font-size: 12px;
font-weight: 400;
}
